/* src/fonts.css */

/* Dream Avenue */
@font-face {
    font-family: 'DreamAvenue';
    src: url('/Dream-Avenue/Dream-Avenue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Hello Paris Variants */
@font-face {
    font-family: 'HelloParis-Bold';
    src: url('/Hello Paris-Font/Hello Paris Sans Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'HelloParis-Medium';
    src: url('/Hello Paris-Font/Hello Paris Sans Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'HelloParis-Regular';
    src: url('/Hello Paris-Font/Hello Paris Sans Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'HelloParis-Light';
    src: url('/Hello Paris-Font/Hello Paris Sans Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'HelloParis-ExtraLight';
    src: url('/Hello Paris-Font/Hello Paris Sans ExtraLight.ttf') format('truetype');
    font-weight: 200;
}